@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form id="registerForm" asp-action="Register" asp-controller="Account"
                      asp-area="" asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Register</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating pb-3">
                        <input asp-for="FirstName" class="form-control" autocomplete="First name" aria-required="true" />
                        <label asp-for="FirstName"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating pb-3">
                        <input asp-for="LastName" class="form-control" autocomplete="Last name" aria-required="true" />
                        <label asp-for="LastName"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating pb-3">
                        <input asp-for="Email" class="form-control" autocomplete="Email" aria-required="true" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating pb-3">
                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating pb-3">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group pb-3">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" class="form-control">
                            <option selected disabled>Please Select an Option</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group pb-3">
                        <h6>Register As:</h6>
                        <input asp-for="RegisterAs" type="radio" value="User" class="ms-5" /> Normal User <br />
                        <input asp-for="RegisterAs" type="radio" value="Teacher" class="ms-5" /> Teacher <br />
                        <span asp-validation-for="RegisterAs" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Signup!</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

