@{
    ViewData["Title"] = "Manage User";
}

@section Styles{
    <link rel="stylesheet" href="~/lib/DataTable/datatables.min.css">
}

<br />
<div class="container-fluid">
    <table id="dataTable" class="table table-responsive-md table-striped table-bordered tabletable-hover text-center">
        <thead>
            <tr>
                <th colspan="4">Manage Teachers</th>
            </tr>
            <tr>
                <th style="width: 10%;">#</th>
                <th style="width: 30%;">Name</th>
                <th style="width: 35%;">Email</th>
                <th style="width: 30%;">Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/DataTable/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#dataTable').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                paging: true,
                search: {
                    return: true,
                },
                ajax: {
                    url: '@Url.Action("GetUsers", "ManageUser")',
                    data: function (d) {

                    },
                    complete: function (response) {
                        if (response.responseJSON.isSuccess == false) {
                            AjaxError(response.responseJSON.message);
                        }
                    }
                }
            });

        });
    </script>
}